.sidebar {
    position: fixed;
    top: 76px;
    left: 0;
    bottom: 0;
    width: 90px;
    background-color: white;
}

.sidebar-link {
    display: flex;
    height: 84px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sidebar-link:hover {
    background-color: rgb(235, 235, 235);
}

.sidebar-link img {
    height: 28px;
}

.sidebar-link div {
    font-size: 13px;
    margin-bottom: 4px;
}